@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Rubik+Vinyl&display=swap");

.container {
    height: 100%;
    width: auto;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 100px);
    align-content: center;
    justify-items: center;
}

h1 {
    font-family: "Rubik Vinyl", cursive;
    font-size: 42px;
    text-align: center;
    height: 100%;
    color: blue;
    text-transform: uppercase;
}

.btn {
    grid-row: 2 / span 1;
    grid-column: 5 / span 1;
    background-color: rgba(51, 49, 192, 0.895);
    font-size: 24px;
    font-family: "Rubik Vinyl", cursive;
    color: red;
    padding: 10px;
    box-shadow: 5px 6px 10px #000;
    border-radius: 7px;
}

.btn1 {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    background-color: rgba(51, 49, 192, 0.895);
    font-size: 24px;
    font-family: "Rubik Vinyl", cursive;
    color: red;
    padding: 10px;
    box-shadow: 5px 6px 10px #000;
    border-radius: 7px;
}
.btn:hover,
.btn1:hover {
    background-color: rgba(49, 49, 49, 0.279);
    transition: 500ms;
    cursor: pointer;
}

.one,
.two,
.three,
.four,
.five {
    font-size: 36px;
    color: black;
    font-family: "Rubik Vinyl", cursive;
    text-align: center;
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 5px 6px 10px #000;
    background-color: rgb(255, 255, 255);
}

.pb {
    color: white;
    font-size: 36px;
    font-family: "Rubik Vinyl", cursive;
    text-align: center;
    background-color: rgb(220, 10, 10);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 10px;
    box-shadow: 5px 6px 10px #000;
}

.please {
    font-family: "Inconsolata", monospace;
    color: rgb(80, 80, 80);
    font-size: 12px;
    text-align: center;
}

/* MEDIA */
@media (max-width: 480px) {
    .container {
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .btn,
    .btn1 {
        display: flex;
        flex-flow: column;
        align-items: center;
        width: 300px;
        height: 100px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}
